@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Vidly</h1>
 </div>

<div class="row">
    <div class="col-md-10">
        <p>
            This is a simple asp.net mvc application which was built on code-first migrations.This is asp.net mvc application which consist of the following:<br />
            Implement CRUD operations<br />
            Build forms with server-side and client-side validation<br />
            Build RESTful services using ASP.NET Web API<br />
            Use powerful jQuery plug-ins(Datatables)<br />
            Implement bootbox<br />
            Implement security, authentication and authorization using ASP.NET Identity<br />
            Using Entity Framework to query or update data<br />
            Using Entity Framework code-first workflow to build models<br />
        </p>
    </div>
   
</div>